
.main{
    background-image: url(../../assets/images/background/armario-custom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
   height: 50vh;
}

.teste{
    margin-top: -50px;
}
.search{
    width: 600px;
    height: 50px;
}

#content{
    padding-top: 1px;
    background-color: #D8D8D8;
}
.btn:hover{
    background-color: #3F3D56;
    border: 1px solid #3F3D56;
    transition: ease 300ms;

}
.btnTela{
    background-color: #FF8700;
    border: 1px solid #FF8700;
    width: 250px;
    border: none;
    border-radius: 4px;
    height: 50px;
    color: #ffffff;
    font-size: 30px;
}
.btnTela:hover{
    background-color: #3F3D56;
    border: 1px solid #3F3D56;
    transition: ease 300ms;
}

.container-fluid2{
    padding-top: 800px;
}
.gradient{

    width: 100%;
    height: 80px;
}
