
.containerTexto{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.containerTexto strong{
    color:#FE2E2E;
}
.divContainer{
    margin-top: 9rem;
}

.caixaConversa{
    display: flex; 
    justify-content: space-evenly; 
}
.caixaConversa img{
    width: 200px;
    border: none;
    
}
.caixaBotoes{
    display: flex;
    flex-direction: column;
}

.teste{
    margin-top: 40px;
}
.botoes{
    width: 400px;
    height: 60px;
    border: 2px solid #1C1C1C;
    background-color: #FBFBEF;
    color: #1C1C1C;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 10px;
    
}
.botoes i{
    margin-right: 10px;
}
hr{
    width: 100%;
    border: 1px solid #A4A4A4   ;
}
.botoes:hover{
    width: 400px;
    height: 60px;
    border: none;
    background-color: #8000FF;
    color: #ffffff;
    font-size: 30px;
    transition: ease-in-out 300ms;
    border-radius: 10px;
    -webkit-box-shadow: 6px 3px 12px -2px #000000; 
    box-shadow: 6px 3px 12px -2px #000000;
}